/* Reset */

* {
    box-sizing: border-box;
    font-size: 10px;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Inter', sans-serif;
}

/* header */

header {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

header .logo {
    display: inline-flex;
    align-items: center;
    gap: 2rem;
}

nav p {
    font-size: 4.8rem;
    font-weight: 100;
}

/* Nav Bar */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navbar ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ham{
    display: none;
}

header .navbar ul li {
    list-style-type: none;

    font-size: 2.4rem;
    padding: 2rem;
}

/* intro */

header .intro {
    width: 75%;
    margin: 9.4rem auto;

    text-align: center;
}

.intro h1 {
    font-size: 6.4rem;
    font-weight: 300;

}

.intro p,
.team p {
    margin-top: 2.6rem;

    font-size: 2rem;
    font-weight: 200;
    line-height: 199.02%;

}

/* Image Grid */

.container {
    margin: 2rem;



    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    margin-bottom: 5rem;
}


.container img {
    max-width: 100%;
    margin-bottom: 2.4rem;
}

h2 {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
    font-weight: 400;
}

.container p {
    font-size: 2rem;
    font-weight: 200;
    line-height: 140%;
}

.container .middle{
    text-align: center;
}

.container2 {
    align-items: center;
}


.team {
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 2rem;

    width: 60%;
    margin-inline: auto;
}

.team h2 {
    /* margin-top: 5rem; */
    font-size: 4rem;
    margin-bottom: 0.5rem;

}

.team hr {
    width: 8rem;
    /* height: 1rem; */
    /* height: 0px; */
    border: 0.2px solid rgba(0, 0, 0, 0.494);
}

.head2 {
    display: flex;
    flex-direction: row;
    gap: 4rem;

    justify-content: center;
    align-items: center;
}



/* Horizontal scrollbar */

.horizontal_scroll{
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap:1rem;
    border: 1rem solid black;
    background-color: black;

    /* overflow: scroll; */
    /* overflow: hidden; */

    margin-bottom: 5rem;
}



.horizontal_scroll > div > img{
    

    inline-size: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;

    
}

.describe{
    color: white;
    text-align: center;
}

 .horizontal_scroll h4{
    font-size: 2rem;
    margin-top: 2rem;
 }

 .horizontal_scroll p{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;

    font-style: italic;
 }

/* Contact */

footer{
    background-color: black;
    padding: 2rem;
}

.contact{
    background-color: black;
    color: white;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-inline: 2rem;
    padding-top : 2rem ;
    padding-bottom: 2rem;
    gap: 12rem;
}

.contact p{
    font-size: 1.5rem;
    text-align: center;
    line-height: 2;

    margin-bottom: 1.5rem;
    

}

footer hr{
    width:100%;
    /* height: 1rem; */
    /* height: 0px; */
    /* border: 0.02px solid rgb(255, 255, 255); */
}

.copyright{
    font-size: 1.5rem;
    text-align: center;
    color: white;
    padding: 2rem;
}

/* Responsive */

@media screen and (max-width: 900px) {

    .container{
        grid-template-columns: 1fr;
    }
    
    header .intro {
        width: 90%;
    }
    
    .team {
    
        width: 80%;
    }

    .desk{
        display: none;

    }

    .ham{
        display: inline-block;

    }

    header .navbar ul li{
        padding: 0;
    }

    .intro h1{
        font-size: 5.2rem;
    }

    .team h2{
        font-size: 3.5rem;
    }
    

    .contact{
        grid-template-columns: 1fr;
        gap: 5rem;
    }

    .horizontal_scroll{
        grid-template-columns: 1fr ;
    }
    
}




